/* GLOBAL******************************************************************* */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
* {
    box-sizing: border-box;
    font-family: "Roboto","Microsoft Jhenghei";
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
    border: 0;
}
/* body{
    overflow: hidden;
} */
img {
    width: 100%;
    /*  讓圖片符合父元素寬度*/
    vertical-align: top;
    /* 解決圖片被父元素包住時的下方空隙 */
}
p {
    margin: 30px 0;
    letter-spacing: 1px;
    line-height: 1.5;
}
.clearfix::after {
    content:"";
    display: block;
    clear: both;
}
.vam {
    font-size: 0;
}
.vam > * {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    float: none!important;
}
.vam::after {
    content:"";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.section-title {
    font-size: 36px;
}
.t-left {
    text-align: left;
}
.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}
@media(min-width:600px){
    .t-md-left {
        text-align: left;
    }
    .t-md-center {
        text-align: center;
    }
    .t-md-right {
        text-align: right;
    }
}
@media(min-width:960px){
    .t-lg-left {
        text-align: left;
    }
    .t-lg-center {
        text-align: center;
    }
    .t-lg-right {
        text-align: right;
    }
}
@media(min-width:1200px){
    .t-xl-left {
        text-align: left;
    }
    .t-xl-center {
        text-align: center;
    }
    .t-xl-right {
        text-align: right;
    }
}
.no-padding {
    padding: 0!important;
}
/* div>a>img:nth-last-of-type(1){
    display:none;
} */